# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
apps/server/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# coverage
coverage/

# uploads / local storage
.minio-data/
.postgres-data/
